.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
.input-icon .cursor-pointer
{
    cursor: pointer;
}

.icon {
    padding: 10px;
    min-width: 40px;
}
.delete-icon{
    margin-top: -45px;
}
input[type="checkbox"]
{
    position: relative;
    width: 70px;
    height: 30px;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 30px;
    box-shadow: inset 0 0 5px rgba(0,0,0,2);
    transition: .5s;
}
input:checked[type="checkbox"]
{
    background: #03a9f4;
}
input[type="checkbox"]:before
{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,2);
    transition: .5s;
}
input:checked[type="checkbox"]:before
{
    left: 40px;
}
.inner-table td {
    border: none !important;
    border-bottom: 1px solid #dee2e6 !important;

}


