.tpicker{
  width: 200px;
  height: auto;
  position: absolute;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 2px 3px black;
  float: left;
  display: none;
  padding: 15px;
}
.pk1{
  float: left;
  width: 90%;
  margin: 0 5%;
}
.hr{
  text-align: center;
  width: 30%;
  float: left;
}
.hr i{
  font-weight: bold;
  text-align: center;
  width: 100%;
  font-size: 23px;
}
.hr i:hover{
  cursor: pointer;
  color:red;
}
.hr a:hover{
  cursor: pointer;
  background-color: lightgrey;
}
.hr a{
  padding: 2px;
  border-radius: 2px;
  text-decoration: none;
  font-size: 18px;
  width: 100%;
  text-align: center;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.pk1 .dot{
  width: 30%;
  float: left;
}
.pk1 .dot2{
  margin-top: 28px;
  width: 10%;
  text-align: center;
  float:left;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.pk1 .dot button{
  width: 100%;
  margin-top: 22px;
}
.pk2{
  display: none;
}
.pk2 table{
  margin: 0px;
  padding: 0;
}
.pk2 table td{
  text-align: center;;
  border-radius: 2px;
  border:solid 0.5px lightgrey;
}
.pk2 table td:hover{
  background-color: lightgrey;
  cursor: pointer
}